body{
 text-align: center;
 font-family: Roboto,sans-serif;
}
h2{
    color: rgb(6, 6, 171);
}
.box{
    display:flex;
    /* padding: 15px; */
    border: 1px solid rgb(6, 6, 171);
    border-radius: 5px;
    margin-left: 25rem;
    margin-right: 25rem;
    position: inherit;
    align-items: center;
    justify-content: center;
    
}
.box>div{
    /* ?background-color: rgba(37, 73, 252, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    width: 50%;
    
}

.btn{
    background-color: rgb(255, 147, 108);
    border: 1px solid rgb(255,147,108);
    border-radius: 5px;
    height: 30px;
    width: 70px;
    font-size: medium;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 5px 5px 10px #999;
}
.card{
    background-color: whitesmoke;
    border: whitesmoke;
    height: auto;
    width: 25%;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #999;
}
.cardHeading{
    background-color: rgb(14, 188, 246);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 0.5px;
}
.cardsection{
    display: flex;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.img{
    height: 10px;
    width: 10px;
}